.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.normal {
    background-image: linear-gradient(#a6a877,#82845f);
}

.grass {
    background-image: linear-gradient(#77c850,#579939) ;
}

.fire {
    background-image: linear-gradient(#ee7f30, #c76a28);
}

.water {
    background-image: linear-gradient(#678fee, #4f73c8);
}

.electric {
    background-image: linear-gradient(#f7cf2e,#cfab1d);
}

.ice {
    background-image: linear-gradient(#98d5d7,#6eacae);
}

.ground {
    background-image: linear-gradient(#dfbf69,#a4883a);
}

.flying {
    background-image: linear-gradient(#a98ff0,#7f66c5);
}

.poison {
    background-image: linear-gradient(#a040a0,#852d85);
}

.fighting {
    background-image: linear-gradient(#bf3029,#9c211a);
}

.psychic {
    background-image: linear-gradient(#f65687,#b6375d);
}

.dark {
    background-image: linear-gradient(#725847,#614736);
}

.rock {
    background-image: linear-gradient(#b8a137,#917d24);
}

.bug {
    background-image: linear-gradient(#a8b720,#89961b);
}

.ghost {
    background-image: linear-gradient(#6e5896,#564279);
}

.steel {
    background-image: linear-gradient(#b9b7cf,#8784a4);
}

.dragon {
    background-image: linear-gradient(#6f38f6,#4e24b8);
}

.fairy {
    background-image: linear-gradient(#f9aec7,#dc87a4);
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 6px 7px 18px black;
    transform: scale(0.98);
}

.pokemon:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1);
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.15);
    text-align: center;
}

.pokemon .detail img {
    max-width: 78%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}

.pagination button:hover {
    filter: brightness(1.2);
    cursor: pointer;
    transform: scale(1.1);
}

.pokemon2 {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 4.2rem;
    border-radius: 1rem;
    
}

#modal-box {
    border: none;
    padding: 0;
    border-radius: 1rem;
}

.pop-up {
    
    border-radius: 1rem;
    border: #000;
    display: flex;
    flex-direction: column;

}

.pop-up img {
    height: auto;
    width: -webkit-fill-available;
    max-width: 70%;
    align-self: center;
    max-height: 18rem;
}

.name-modal {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
    font-size: 1.5rem;
    margin-left: .5rem;
}

#modal-number {
    text-align: end;
    margin-right: .5rem;
    margin-top: .5rem;
    position: relative;
    top: 2rem;
    font-size: 1.7rem;
}

.modal-types {
    list-style: none;
    display: flex;
    padding: 0;
    margin-top: .5rem;
}

.modal-type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .835rem;
    text-transform: capitalize;
    border-radius: 1rem;
    filter: brightness(1.15);
    text-align: center;
    margin-left: .5rem;
}

.modal-details {
    color: #6f6f6f;
    padding: 0.25rem 0.5rem;
    font-size: .725rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    align-self: center;
}

.modal-details-box {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr;
    border-radius: 0.9rem;
}

.all-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.modal-stats {
    padding: 0.25rem 0.5rem;
    font-size: .725rem;
    margin-top: .325rem;
}

.weight-height {
    text-align: center;
    color: #6f6f6f;
    
}

.return {
    box-sizing: content-box;
    width: 2rem;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.return:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.habilidades {
    text-transform: capitalize;
    text-align: right;
    position: relative;
    bottom: -1.75rem;
    font-size: 0.8rem;
    color: black;
    font-weight: bolder;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}